 {{ range .Site.Params.customCSS }}
  {{ $styles := resources.Get . | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
{{ end }}

{{ range .Site.Params.customSCSS }}
  {{/* We don't change the targetPath to because it's transparent to users */}}
  {{ $styles := resources.Get . | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
{{ end }}
