<link rel="preload" href="/fonts/forkawesome-webfont.woff2?v=1.2.0" as="font" type="font/woff2" crossorigin>

{{ $cssOpts := (dict "targetPath" "css/coder.css" ) }}
{{ $styles := resources.Get "scss/coder.scss" | resources.ExecuteAsTemplate "style.coder.css" . | toCSS $cssOpts | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />

{{ if .Site.Params.rtl }}
  {{ $rtlCssOpts := (dict "targetPath" "css/coder-rtl.css" ) }}
  {{ $rtlStyles := resources.Get "scss/coder-rtl.scss" | resources.ExecuteAsTemplate "style.coder-rtl.css" . | toCSS $rtlCssOpts | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $rtlStyles.RelPermalink }}" integrity="{{ $rtlStyles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
{{ end }}
